.idea
.DS_Store
**/.env
target/**
src/main/java/com/mitchdennett/main/**
src/main/java/com/mitchdennett/controller/**
src/main/resources/templates/**
src/main/java/com/mitchdennett/models/**
src/main/webapp/**

